<a href="https://colab.research.google.com/github/nkbrooks/WritingSamples/blob/main/html_reading_cvs_reading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# an example of panda usage w/ data extraction: cvs and html read 
# can also be used for testing / reading bank statements/ menus etc....
# with refiniery
import pandas as pd

In [ ]:
# Note that you can create a pandas dataframe from a python dictionary
bank_client_df = pd.DataFrame({'Bank cilent ID': [111, 222, 333, 444],
      'Bank Client Name' : ['Chanel', 'Steve', 'Mitch', 'Ryan'], 
       'Savings':[300,4000,900,567], 'Expenses' : [100,10,22,400] })

bank_client_df

   Bank cilent ID Bank Client Name  Savings  Expenses
0             111           Chanel      300       100
1             222            Steve     4000        10
2             333            Mitch      900        22
3             444             Ryan      567       400

In [ ]:
type(bank_client_df)

pandas.core.frame.DataFrame

In [ ]:
#calculates savings from table 
savings_left = bank_client_df['Savings'] - bank_client_df['Expenses']
print(savings_left)
print('Total savings left total = {}'.format(savings_left.sum()))

0     200
1    3990
2     878
3     167
dtype: int64
Total savings left total = 5235

In [ ]:
#cvs_read_test
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:

bank_df = pd.read_csv('/content/drive/MyDrive/PhoelTechnologies_MLResearch /ML_Samples/Pandas/bank_client_information.csv')

In [ ]:
bank_df

        Savings  Expenses
0    $2,629.13        364
1    $8,626.96        776
2    $9,072.02        606
3         34073       718
4         85792       129
..          ...       ...
194       81795       117
195       19166       218
196       99130       701
197       42801       542
198        2606       974

[199 rows x 2 columns]

In [ ]:
df_GDP = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', match = 'Election results from statewide races') #uses matching to find specific table

In [ ]:
# Reads table from website
house_prices_df = pd.read_html('https://www.nasdaq.com/market-activity/stocks/cvs/earnings')

In [ ]:
umd_tuition = pd.read_html('https://academiccatalog.umd.edu/undergraduate/fees-expenses-financial-aid/tuition-fees/')

In [ ]:
umd_tuition[0]

In [ ]:
house_prices_df[0]

                                                City  ...                                    12 Month Change
0                                      Vancouver, BC  ...                                           + 2.63 %
1                                       Toronto, Ont  ...                                            +10.2 %
2                                        Ottawa, Ont  ...                                           + 15.4 %
3                                       Calgary, Alb  ...                                            – 1.5 %
4                                      Montreal, Que  ...                                            + 9.3 %
5                                        Halifax, NS  ...                                            + 3.6 %
6                                       Regina, Sask  ...                                            – 3.9 %
7                                    Fredericton, NB  ...                                            – 4.3 %
8  (adsbygoogle = window.adsbygoogle || []).push(...  ...  (adsbygoogle = window.adsbygoogle || []).push(...

[9 rows x 3 columns]

In [ ]:
df_GDP[0]

    Year     Office    GOP    DFL Others
0   2020  President  45.3%  52.4%   2.3%
1   2020    Senator  43.5%  48.8%   7.7%
2   2018   Governor  42.4%  53.9%   3.7%
3   2018    Senator  36.2%  60.3%   3.4%
4   2018    Senator  42.4%  53.0%   4.6%
5   2016  President  44.9%  46.4%   8.6%
6   2014   Governor  44.5%  50.1%   5.4%
7   2014    Senator  42.9%  53.2%   3.9%
8   2012  President  45.1%  52.8%   2.1%
9   2012    Senator  30.6%  65.3%   4.1%
10  2010   Governor  43.2%  43.7%  13.1%
11  2008  President  43.8%  54.1%   2.1%
12  2008    Senator  42.0%  42.0%  16.0%
13  2006   Governor  46.7%  45.7%   7.6%
14  2006    Senator  37.9%  58.1%   4.0%
15  2004  President  47.6%  51.1%   1.3%
16  2002   Governor  44.4%  33.5%  22.1%
17  2002    Senator  49.5%  47.3%   1.0%
18  2000  President  45.5%  47.9%   6.6%
19  2000    Senator  43.3%  48.8%   7.9%
20  1998   Governor  34.3%  28.1%  37.6%
21  1996  President  35.0%  51.1%  13.9%
22  1996    Senator  41.3%  50.3%   8.4%
23  1994   Governor  63.3%  34.1%   2.6%
24  1994    Senator  49.1%  44.1%   6.8%
25  1992  President  31.9%  43.5%  24.6%